<div class="btn">
    <a class="mybtn" href="/users/login">Login</a>
    <a class="mybtn" href="/users/register">Register</a>
</div>
<style>
    .btn {
        margin: 50px;
        text-align: center;
    }

    .mybtn {
        border-radius: 3px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 20px;
        background-color: #00ad25;
        color: #fff;
        transition-delay: .2s;
        transition: .3s;
        font-variant-caps: all-small-caps;
        box-shadow: 4px 3px 11px 0 #00ad25;
    }

    .mybtn:hover {
        background-color: #009420;
        box-shadow: 4px 3px 11px 0 #005a13;
    }
</style>